body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #535353;
}
body > .container {
  padding-bottom: 150px;
}
/*HEDER*/
.row.header .col-md-12 {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header .title {
  font-size: 26px;
  font-weight: 600;
}

.header .ava-control {
  width: 55px;
  height: 55px;
  position: relative;
}
.header .ava-control > img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
}

.header .check {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #fff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 25%);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -6px;
}
.header .check img {
  width: 60%;
}

input#serch {
  background: #f7f7f7;
  height: 53px;
  border-radius: 15px;
  padding-left: 53px;
}
.serch-control {
  position: relative;
}
.serch-control:after {
  content: '';
  background: url(../img/fi_search.svg) no-repeat;
  width: 41px;
  height: 23px;
  position: absolute;
  display: block;
  top: 15px;
  left: 18px;
}
input#serch {
  margin-top: 0;
}
.tools {
  display: flex;
  align-items: center;
  position: relative;
}
.tools > * {
  margin-left: 20px;
}
.chenger-acc {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 10%);
  border-radius: 15px;
  top: 0;
  max-width: 264px;
  z-index: 1;
  padding: 0 20px;
  right: -15px;
  display: none;
}
.chenger-acc a.btn-border-add {
  margin-bottom: 20px;
}
.tools.open .chenger-acc {
  display: block;
}
.chenger-acc .item:last-of-type {
  border: none;
}
.val.check-box label.tgl-btn {
  margin: 0;
}
.chenger-acc .desc {
  font-size: 10px;
}
.chenger-acc .val.check-box {
  margin-right: 15px;
}
.chenger-acc .item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #d7d7d7;
  opacity: 0.7;
}
.chenger-acc .item.active,
.chenger-acc .item:hover {
  opacity: 1;
}
.header .name {
  font-weight: 600;
}
input {
  border: 0 !important;
}
.input-control.serch {
  position: relative;
}
.input-control.serch input[type='text'] {
  margin-top: 0;
  padding-left: 45px;
}
.add-acc .profile-item-wrap {
  margin-top: 20px;
}
.input-control.serch:after {
  background: url(../img/fi_search.svg) no-repeat;
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  left: 10px;
}
a.chat-start {
  display: flex;
  background: rgb(114 105 221 / 8%);
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}
a.chat-start.unread {
  -webkit-animation: jello-horizontal 4s infinite both;
  animation: jello-horizontal 4s infinite both;
}
.balloon-count {
  margin-left: 5px;
  color: #6c64d3;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  89% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  90% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  92% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  94% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  96% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  98% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  padding: 25px 25px;
  transition: all 0.4s;
  transition-delay: 0.3s;
  background: #fff;
  box-shadow: 3px 0px 20px #ededed;
  z-index: 1;
}
.menu:hover {
  width: 235px;
  transition: all 0.4s;
}
.logo-wrap img {
  max-width: 57px;
}
.menu--item--wrap {
  margin: 30px 0;
}
span.sup__title {
  transition: all 0.4s;
  transform: scale(0.7);
}
.menu:hover span.sup__title {
  font-size: 16px;
  transform: scale(1);
  transition: all 0.4s;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p.balans {
  font-family: 'Manrope';
  font-size: 26px;
  font-weight: bold;
  display: flex;
}

.menu .menu--item--wrap ul svg {
  fill: url(#paint0_linear);
  margin-bottom: 3px;
}
.menu ul a {
  color: #535353;
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  display: block;
  transition: all 0.4s;
  background: transparent;
  height: 53px;
}
menu ul a svg {
  margin-right: 5px;
}
.menu ul li {
  margin-bottom: 5px;
}
.menu:hover ul a {
  padding: 15px 20px;
}
.menu ul a:hover,
.menu ul a.active {
  color: #fff;
  background: linear-gradient(180deg, #6860cc 0%, #857bfb 100%);
  text-decoration: none;
  transition: all 0.4s;
}
.menu ul a:hover svg,
.menu ul a.active svg {
  fill: #fff;
  transition: all 0.4s;
}
.menu ul a svg {
  max-width: 20px;
}
.menu span.sup__title {
  display: inline-block;
  margin-bottom: 10px;
}
a.logout {
  color: #535353;
  display: block;
  padding: 15px 15px;
  border-radius: 10px;
  border: 1px solid transparent;
}

a.logout:hover {
  border: 1px solid #535353;
  text-decoration: none;
}
.menu:hover a.logout {
  padding: 15px 20px;
}
.green {
  color: #5dbc12;
}

.hid {
  transform: scale(0);
  width: 0;
  height: 0;
  display: inline-block;
  opacity: 0;
  transition-delay: 0.3s;
  transition: transform 0.8s, width 1s, opacity 0.3s;
}
.menu:hover .hid {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.8s, width 1s, opacity 0.3s;
  transition-delay: 0.3s;
  width: auto;
}
p.balans span.hid {
  transition: transform 0.8s, width 1s, opacity 0s;
}

p.balans span.green {
  margin-left: 10px;
}
.row.header {
  border-bottom: 1px solid #e5e5e5;
}
.row.sub-header {
  font-family: Manrope;
  border-bottom: 1px solid #e5e5e5;
}
.sub-header-item.balans p {
  font-size: 75px;
  font-weight: bold;
  display: block;
  margin-bottom: 0;
  line-height: 1;
}
.col-md-12.sub-header-wrap {
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.sub-header-item {
  margin-right: 60px;
}

.sub-header-item.in-month p {
  font-size: 45px;
  font-weight: bold;
  opacity: 0.6;
  margin: 0;
  line-height: 1;
}
.sub-header-item.procents p {
  font-size: 45px;
  font-weight: bold;
  opacity: 0.6;
  margin: 0;
  line-height: 1;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border: solid #535353;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.col-md-12.prof-tools-wrap {
  display: flex;
  margin: 34px 0px;
}
a.nav-link.dropdown-toggle {
  background: #f7f7f7;
  height: 53px;
  line-height: 34px;
  border-radius: 15px;
  display: inline-block;
  padding: 10px 20px;
  color: #808190;
  font-size: 16px;
}
.col-md-12.prof-tools-wrap .serch-control {
  width: 100%;
}
.col-md-12.prof-tools-wrap input#serch {
  width: 100%;
}
.col-md-12.prof-tools-wrap .serch-control {
  width: 100%;
  margin-left: 30px;
}
h2 {
  font-size: 22px;
  font-weight: 600;
}
.title-wrap {
  margin: 20px 0;
}

.nav-tabs .nav-link {
  border: 0;
  padding-left: 0;
  padding-right: 35px;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-link.active {
  color: #495057;
  border-color: #dee2e6 #dee2e6 #fff;
  background: linear-gradient(#6860cc, #857bfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.nav-link {
  color: #808190;
  font-size: 22px;
  font-weight: bold;
}
.project-ava {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 1px solid #6860cc;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 35px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  width: 48.7%;
  flex-wrap: wrap;
}
.wrap-row-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.project-title {
  min-width: 80%;
}
.project-item .title,
.project-item .Invested,
.project-item .Inc,
.project-item .ter {
  font-size: 20px;
  font-weight: bold;
  color: #535353;
}
.project-item .sup-title {
  font-size: 14px;
  font-weight: bold;
  color: #989898;
}
.tab-content {
  margin-top: 30px;
}
a.project-item:hover {
  border: 1px solid #989898;
  text-decoration: none;
}
a.back {
  color: #776ee4;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
a.back img {
  margin-right: 10px;
}
.row.baner-title-project {
  width: 100%;
}
.col-md-12.project-bg {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 235px;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
  border-radius: 15px;
  background-size: cover !important;
  background-position: 50% 50% !important;
  position: relative;
  margin-top: 35px;
  padding: 0 30px;
}
.baner-title-project .title-sum span.sup-desc {
  font-size: 14px;
}
.baner-title-project .title-sum {
  line-height: 21px;
  text-align: right;
}
.baner-title-project .title-text {
  margin-right: 20px;
}
.baner-title-project .title-sum {
  font-family: Manrope;
}
.ditails-item .val {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}
.row.ditails > div {
  display: flex;
  justify-content: space-between;
  margin: 45px 0;
}
.row.ditails {
  width: 100%;
}
.row.ditails .sub-title {
  color: #808190;
  font-weight: 600;
}
.progress-wrap {
  background: #f7f7f7;
  height: 43px;
  width: 470px;
  border-radius: 100px;
  position: relative;
  margin-right: 30px;
}
.progres-bar {
  background: linear-gradient(180deg, #6860cc 0%, #857bfb 100%);
  border-radius: 100px;
  height: 43px;
  width: 83%;
  max-width: 470px;
}
.procent {
  line-height: 1;
  width: 100%;
  text-align: center;
  margin-top: -28px;
  font-size: 16px;
  font-weight: 600;
  filter: invert(1);
  mix-blend-mode: difference;
}
.btn-border {
  border: 2px solid #7c73ed;
  display: inline-flex;
  justify-items: center;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  color: #766de3;
  font-weight: bold;
  padding: 17px 62px 17px 20px;
  position: relative;
  background: url(../img/arr_r_c.svg) no-repeat 90%;
}
.row.progres .col-md-12 {
  display: flex;
  align-items: center;
}
.tabs-details a.nav-link {
  font-size: 19px;
}
.row.tabs-details {
  margin-top: 70px;
}
img.big-img {
  width: 100%;
  border-radius: 10px;
  margin-top: 50px;
}
.payment_tamle .title-row,
.payment_tamle .item-row {
  display: flex;
  justify-content: space-between;
}
a.doc {
  color: #535353;
  background: url(../img/file_1.svg) no-repeat 0%;
  padding-left: 25px;
  display: block;
}
.title-row .title-item {
  width: 14.28%;
  font-weight: 600;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
}
.item-row .item {
  width: 14.28%;
  font-weight: 600;
  padding: 20px 0;
  font-family: Manrope;
  font-weight: 600;
  font-size: 20px;
}
.payment_tamle .item-row {
  border-bottom: 1px solid #e5e5e5;
}
.item-row .item:nth-child(6) {
  color: #5dbc12;
}
.row.profile-blc {
  margin-top: 35px;
}
.row.profile-blc .col-md-12 {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 65px 45px;
}
.profile-item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.profile-item-wrap .name {
  font-weight: 600;
  min-width: 300px;
  padding-right: 30px;
}
a.boc-ico {
  padding-left: 22px;
  background: url(../img/doc.svg) no-repeat 0% 50%;
  color: #535353;
}
.btn-border-edit {
  border: 2px solid #7c73ed;
  display: inline-flex;
  justify-items: center;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  color: #766de3;
  font-weight: bold;
  padding: 17px 20px 17px 45px;
  position: relative;
  background: url(../img/edit.svg) no-repeat 9% 50%;
}
.row.profile-blc h2.title-profilw {
  margin-bottom: 25px;
}
/*chb*/
.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 55px;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: '';
  width: 16px;
  height: 100%;
  border: 4px solid #fff;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 35px;
}

.tgl-light + .tgl-btn {
  background: #f7f7f7;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  opacity: 0.5;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: linear-gradient(180deg, #6860cc 0%, #857bfb 100%);
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #f7f7f7;
  opacity: 1;
}

a.project-item-ofer > * {
  width: 10%;
}
a.project-item-ofer .project-name {
  width: 30%;
}
a.project-item-ofer {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #606060;
  font-weight: bold;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 0;
}
.project-target .progress-wrap {
  width: 25px;
  height: 5px;
  margin-right: 5px;
}

.project-target {
  display: flex;
  align-items: center;
}
.project-target .progres-bar {
  width: 85%;
  height: 5px;
}
a.project-item-ofer .finish {
  display: flex;
  align-items: center;
}
a.project-item-ofer .finish img {
  margin-right: 5px;
}
.project-name {
  display: flex;
}
.project-name img {
  margin-right: 10px;
}
.logo-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 55px;
}
.pre-wrap-logo-head img {
  width: 67%;
}
.wrap-logo-head {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #6860cc 0%, #857bfb 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.pre-wrap-logo-head {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.logo-head:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  position: absolute;
  z-index: -1;
}
.back-btn-wrap a {
  color: #8a82e5;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.back-btn-wrap svg {
  margin-right: 10px;
}
.reg-desc {
  text-align: center;
}
.row.reg-form .reg-desc {
  margin-top: 55px;
}
input {
  background: #f7f7f7;
  height: 53px;
  border-radius: 15px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
}
input[type='submit'] {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #776ee4 !important;
  margin-top: 20px;
}
a.have-acc {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: #535353;
}
.sub-info {
  font-size: 12px;
  text-align: center;
  margin-top: 100px;
}
input[disabled='disabled'] {
  background: #fafafa;
}
.input-control.error input,
.error > select,
.error textarea {
  border: 1px solid #ff0000 !important;
}
.input-control {
  position: relative;
}
.password-who {
  background: url(../img/help-circle.svg) no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  right: 15px;
  top: 34px;
}
.password-togle {
  background: url(../img/eye.svg) no-repeat;
  width: 20px;
  height: 18px;
  position: absolute;
  right: 15px;
  top: 36px;
}

#file-input {
  display: none;
}

label[for='file-input'] * {
  vertical-align: middle;
  cursor: pointer;
}

label[for='file-input'] span {
  margin-left: 10px;
}
.file-btn {
  border: 1px solid #d8d5ff;
  display: inline-flex;
  justify-items: center;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  color: #766de3;
  font-weight: bold;
  padding: 8px 8px 7px 32px;
  position: relative;
  background: url(../img/file_1.svg) no-repeat 6% 50%;
  font-size: 14px;
}
.profile-item-wrap input {
  background: #f7f7f7;
  height: 37px;
  border-radius: 7px;
  width: 100%;
  padding: 5px 15px;
  margin-top: 0;
}
.profile-item-wrap .val {
  width: 100%;
  position: relative;
}
.suggestions {
  position: absolute;
  z-index: 10;
  background: #fff;
  padding: 10px 20px;
  top: 38px;
  left: 0;
  box-shadow: 0px 0px 10px #dedede;
  border-radius: 5px;
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
}
.suggestions > * {
  padding: 5px 15px;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.suggestions > *:hover {
  background: #6e65d4;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.suggestions::-webkit-scrollbar {
  width: 3px;
}
.suggestions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}
.suggestions::-webkit-scrollbar-thumb {
  background-color: #766de3;
  outline: 1px solid slategrey;
}
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #cdd1da;
  border-radius: 50%;
  background: #fff;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(180deg, #6860cc 0%, #857bfb 100%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(138, 65, 255, 0.164);
}
.val.sex {
  display: flex;
}
.val.sex .input-control {
  margin-right: 34px;
}
.support {
  margin-top: 50px;
}
.support h2 {
  color: #6f65d5;
}
.nav-item.dropdown.support-cat {
  margin-top: 35px;
}
.support a.nav-link.dropdown-toggle {
  width: 100%;
}

.support .dropdown-toggle::after {
  position: relative;
  float: right;
  top: 10px;
}
.support h4 {
  margin-top: 35px;
}
textarea {
  background: #f7f7f7;
  border-radius: 15px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  border: 0;
}
.support textarea {
  margin-bottom: 20px;
}
.support .profile-item-wrap {
  margin-top: 20px;
}
.s-b {
  display: flex;
  justify-content: space-between;
}
.btn-clean {
  display: inline-flex;
  justify-items: center;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  color: #766de3;
  font-weight: bold;
  padding: 19px 22px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}

select {
  background: #f7f7f7;
  height: 53px;
  border-radius: 15px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  border: 0;
}
.mesage-wrap {
  max-width: 80%;
  position: relative;
  margin-bottom: 35px;
}
.mesage-row.in {
  display: flex;
  justify-content: flex-end;
}
.mesage-row.out {
  display: flex;
  justify-content: flex-start;
}
.mesage-baloon {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 30px rgb(44 38 121 / 15%);
}
.mesage-row.in .mesage-baloon {
  color: #fff;
  background: #8178f5;
  float: left;
  margin-right: 60px;
  box-shadow: 0px 0px 30px rgb(44 38 121 / 25%);
}
table.tg {
  width: 100%;
  margin-top: 30px;
}
th,
td {
  padding: 10px;
}
tbody tr {
  border-bottom: 1px solid #ededed;
}
table.tg tbody tr:hover {
  cursor: pointer;
  background: rgb(128 118 242 / 6%);
}
.payment_tamle {
  width: 100%;
}
support-table .table-head > *,
.support-table .support-item > * {
  width: 25%;
}
.support-table .table-head .table-head-item:nth-child(1) {
  width: 25%;
}
.mesage-row.in .mesage-baloon:after {
  content: '';
  position: absolute;
  right: -42px;
  left: auto;
  border: 30px solid transparent;
  border-right: 60px solid #8178f5;
  transform: rotate(225deg);
}
p.mesage-autor {
  font-weight: bold;
}
p.mesage-body {
  margin-bottom: 0;
}
.mesage-baloon:after {
  content: '';
  position: absolute;
  left: -42px;
  bottom: -25px;
  border: 30px solid transparent;
  border-right: 60px solid #fff;
  transform: rotate(-45deg);
}
.mesage-ava img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mesage-ava {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}
.mesage-row.in .mesage-ava {
  float: right;
}
.mesage-row.out .mesage-baloon {
  margin-left: 60px;
}
.mesage-baloon > * {
  z-index: 1;
  position: relative;
}

span.status {
  display: inline-block;
  background: url(../img/envelope.svg) no-repeat;
  height: 15px;
  width: 15px;
  background-size: contain !important;
  margin-right: 10px;
}
span.status.new-mesage {
  background: url(../img/lamp.svg) no-repeat;
  -webkit-animation: blink-1 4s cubic-bezier(0.6, 0.04, 0.98, 0.335) 5s infinite
    both;
  animation: blink-1 4s cubic-bezier(0.6, 0.04, 0.98, 0.335) 5s infinite both;
}
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.wrap-ch-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.file-area {
  display: inline-block;
  background: #fff url(../img/doc.svg) no-repeat 5px 50%;
  box-shadow: 0px 0px 10px #e2e0ff;
  padding: 5px 15px;
  margin-top: 20px;
  border-radius: 6px;
  padding-left: 26px;
}
.mesage-row.in .file-area {
  color: #333;
  box-shadow: 0px 0px 10px #73727b;
}

p.mesage-date {
  margin: 0;
  font-size: 12px;
  text-align: right;
}
.status-verify .val {
  background: url(../img/check.svg) no-repeat 0px 50%;
  padding-left: 20px;
}
.row.profile-blc.status-no-verify .col-md-12 {
  background: #fafafa;
}
body.busy:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 90%);
  z-index: 10;
}
body.busy:after {
  content: '';
  position: fixed;
  background: url(../img/loader.svg) no-repeat 50% 50%;
  width: 156px;
  height: 156px;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row.progres.w-100 .progress-wrap {
  width: 100%;
  margin-right: 0;
}
.row.progres.w-100 .progres-bar {
  max-width: 100%;
}
.reserve .wrap-item {
  display: flex;
  border-bottom: 1px solid #bbb;
  padding: 20px 0;
}
.reserve {
  margin-top: 35px;
}
.reserve .wrap-item .name {
  width: 40%;
}
/*********************/

input[type='range'] {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  position: relative;
  height: 12px;
  border-radius: 5px;
  background-color: #e2e2e2;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  top: -5px;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #776ee4;
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  cursor: pointer;
}
.input-control.range input {
  background: none;
}
.input-control.range input.js-amount-range {
  padding: 0;
}
.min-max {
  display: flex;
  justify-content: space-between;
}
.input-control.range input.js-amount-input {
  font-size: 18px;
  font-weight: bolder;
  padding: 0;
  text-align: center;
}
.reserve .btn-control {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 20px;
}
.input-control.range span {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.mobile-sidebar {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3px 16px;
  height: 61px;
  z-index: 11;
  box-sizing: border-box;
  display: none;
  justify-content: space-around;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
  align-items: center;
}
.mobile-sidebar__item svg {
  fill: #776ee5;
}
.mobile-sidebar__item .text {
  font-size: 10px;
  color: #535353;
}
.item-project {
  background: #ffffff;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 10%);
  border-radius: 15px;
  width: 48%;
  overflow: hidden;
  margin-bottom: 40px;
}
.item-project .head {
  background-position: center center;
  background-size: cover !important;
  padding: 35px;
  color: #fff;
}
.item-project .title {
  font-size: 26px;
  font-weight: bold;
}
.item-project .desc-wrap {
  display: flex;
}
.item-project .desc-item .val {
  font-size: 18px;
  font-weight: bold;
}
.desc-item {
  margin-right: 35px;
}
.item-project.transport .sup-title {
  margin-right: 5px;
}
.item-project.transport .val.proc {
  color: #5dbc12;
}
.item-project .sup-title {
  font-size: 12px;
  margin-right: 5px;
}
.item-project .logo {
  width: 100%;
  text-align: right;
}
.item-project .body-project {
  padding: 35px;
}
.item-project .body-project .val {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.item-project .main-wrap {
  display: flex;
  margin-bottom: 20px;
}
.item-project .main-item {
  margin-right: 30px;
}
.item-project .body-project .val img {
  margin-right: 10px;
}
span.detect-dot {
  box-shadow: 0px 0px 10px rgb(74 231 1 / 50%);
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 2px;
}
.item-project .progress-wrap {
  margin: 10px 0;
}
.item-project .progress-wrap {
  width: 100%;
  height: 10px;
}
.item-project .progres-bar {
  height: 10px;
}
.item-project .action-wrap {
  display: flex;
  margin-top: 20px;
}
.item-project .time {
  margin-left: 20px;
}
.item-project .main-item {
  display: flex;
}
.main-item img {
  margin-right: 10px;
}
.tab-content > .active {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a.btn-border-add {
  border: 2px solid #7c73ed;
  display: inline-flex;
  justify-items: center;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  color: #766de3;
  font-weight: bold;
  padding: 17px 20px 17px 45px;
  position: relative;
  background: url(../img/plus.svg) no-repeat 9% 50%;
}
.btn-border-out {
  border: 2px solid #7c73ed;
  display: inline-flex;
  justify-items: center;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  color: #766de3;
  font-weight: bold;
  padding: 17px 20px 17px 45px;
  position: relative;
  background: url(../img/arr_r_c.svg) no-repeat 9% 50%;
}
.btn-border-qr {
  border: 2px solid #7c73ed;
  display: inline-flex;
  justify-items: center;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  color: #766de3;
  font-weight: bold;
  padding: 17px 20px;
  position: relative;
}
.btn-control.money {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.btn-control.money a.btn-border-add {
  margin-right: 15px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.popup {
  position: absolute;
  width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 8px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #333;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #333;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}
.popup h3 {
  color: #6c64d3;
}
.wrap-action-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-action-modal .input-control input {
  margin-top: 0;
}
.recv {
  font-weight: bold;
}
.popup.popup_modal.qr {
  width: auto;
  text-align: center;
}
.popup.popup_modal.out a.btn-border-out {
  margin-top: 20px;
}
.payments-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 5%);
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 20px;
}
.payments-item .date {
  font-size: 10px;
  color: #808190;
}
.payments-item .title {
  font-size: 20px;
  font-weight: bold;
}
.payments-item .from {
  font-size: 14px;
  color: #808190;
  max-width: 30%;
}
.payments-item .sum {
  font-size: 22px;
  font-weight: bold;
  color: #5dbc12;
}
.row.payments {
  margin-top: 30px;
}
.row.payments-tools .col-md-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  color: #766de3;
  font-weight: bold;
  padding: 17px 20px 17px 45px;
  position: relative;
  background: url(../img/filter.svg) no-repeat 9% 50%;
}
.filter-item li {
  list-style: none;
}
.filter-item a {
  color: #808190;
}
.filter-item ul {
  padding-left: 0;
  margin-bottom: 0;
}
.filter {
  background: #ffffff;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 5%);
  border-radius: 5px;
  padding: 12px;
}
.filter.open {
  position: relative;
}
.filter-item {
  display: none;
}
.filter.open .filter-item {
  position: absolute;
  background: white;
  padding: 23px;
  top: 80px;
  left: 0;
  display: block;
  box-shadow: 0px 58px 50px rgb(0 0 0 / 5%);
}
.row.payments-tools {
  margin-top: 20px;
}
.item-project.transport .head {
  color: #333;
  display: flex;
  padding-bottom: 0;
}
.item-project.transport .body-project {
  padding: 35px;
  padding-top: 10px;
}
.item-project.transport .desc-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.item-project.transport .desc-item {
  margin-right: 0;
}
.item-project.transport .title {
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 25px;
  background: url(../img/map.svg) no-repeat 0% 4px;
  background-size: 19px;
}
.item-project.transport .desc-item .val {
  font-size: 20px;
  font-weight: bold;
}
span.arr {
  display: inline-block;
  width: 50px;
  height: 8px;
  background: url(../img/arr_le.svg) no-repeat 50%;
}
.val.proc {
  color: #5dbc12;
}
.item-project.transport .type {
  color: #808190;
  font-size: 14px;
}
.item-project.transport .action-wrap {
  align-items: center;
  justify-content: space-between;
}
.item-project.transport a.btn-border {
  font-size: 14px;
  padding: 17px 51px 17px 15px;
}
.item-project.transport {
  border: 2px solid transparent;
}
.item-project.transport:hover {
  border: 2px solid #786fe5;
}
.number.transport {
  color: #808190;
}
.title-wrap.transport {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-wrap.transport .status {
  color: #5dbc12;
}
.title-wrap.transport .title {
  padding-left: 37px;
  background: url(../img/map.svg) no-repeat 0 50%;
}
span.big-arr {
  background: url(../img/arr_le.svg) no-repeat 50% 50%;
  display: inline-block;
  width: 65px;
  height: 15px;
  background-size: 85%;
}
span.dist {
  color: #808190;
  font-size: 18px;
}
div#map {
  text-align: center;
}
div#map > img {
  width: 100%;
}
.details-blc-title {
  margin-top: 35px;
  font-size: 18px;
  color: #8076f3;
}
.details-item {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}
.details-item .left {
  width: 270px;
  color: #808190;
}
.item-project.transport a.title {
  color: #333333;
}
img {
  max-width: 100%;
}
input.js-amount-input {
  border: 2px solid #7c73ed !important;
}
a.back {
  margin-top: 20px;
}
@media screen and (max-height: 850px) {
  .menu {
    overflow-y: scroll;
  }
  .menu::-webkit-scrollbar-thumb {
    background-color: #6e66d7;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }
  .menu::-webkit-scrollbar {
    background-color: #f7f7f7;
    width: 5px;
  }
}
@media screen and (min-width: 992px) {
  body > .container {
    padding: 0 100px 150px;
  }
}

@media screen and (max-width: 992px) {
  .title-wrap.transport {
    font-size: 16px;
  }
  .payments-item > * {
    max-width: 100% !important;
    margin-bottom: 20px;
  }
  .payments-item {
    flex-wrap: wrap;
  }
  .popup {
    width: 100% !important;
  }
  .item-project .main-item {
    margin-right: 10px;
  }
  .item-project .body-project .val {
    font-size: 16px;
  }
  .item-project .desc-item .val {
    font-size: 16px;
  }
  .action-wrap .btn-control {
    margin-bottom: 20px;
  }
  .action-wrap {
    flex-wrap: wrap;
  }
  .item-project {
    width: 100%;
  }
  a.project-item {
    width: 100%;
  }
  .profile-item-wrap .name {
    margin-bottom: 10px;
  }
  .row.profile-blc .col-md-12 {
    padding: 30px;
    border: none;
  }
  .tools > * {
    margin-left: 15px;
  }
  .progress-wrap {
    margin-bottom: 20px;
    width: 100%;
    margin-right: 0;
  }
  .row.progres .col-md-12 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .row.ditails .sub-title {
    font-size: 10px;
  }
  .ditails-item .val {
    font-size: 24px;
  }
  .row.ditails > div {
    flex-wrap: wrap;
  }
  .col-md-12.project-bg {
    flex-wrap: wrap;
  }
  a.project-item > * {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .project-ava {
    margin-right: 20px;
  }
  .project-item .sup-title {
    font-size: 10px;
  }
  .project-item .title,
  .project-item .Invested,
  .project-item .Inc,
  .project-item .ter {
    font-size: 16px;
  }
  a.project-item {
    flex-wrap: wrap;
  }
  .col-md-12.prof-tools-wrap {
    display: none;
  }
  .sub-header-item.procents p {
    font-size: 28px;
  }
  .sub-header-item span.sub_desc {
    font-size: 12px;
  }
  .sub-header-item.in-month p {
    font-size: 28px;
  }
  .sub-header-item.balans p {
    font-size: 32px;
  }
  .col-md-12.sub-header-wrap {
    flex-wrap: wrap;
  }
  .header .name {
    font-size: 10px;
  }
  .header .title {
    font-size: 10px;
  }
  a.project-item-ofer > * {
    width: 100%;
  }
  a.project-item-ofer {
    flex-wrap: wrap;
  }
  .profile-item-wrap {
    flex-wrap: wrap;
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
  }
  .menu {
    display: none;
  }
  .mobile-sidebar {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .action-wrap .btn-control {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .item-project.transport .desc-wrap {
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
  .item-project.transport .title {
    width: 100%;
  }
  .item-project.transport .head {
    flex-wrap: wrap;
  }
  .details-item {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .title-wrap.transport {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 420px) {
  .item-project .time {
    margin-left: 0px;
  }
}
